:root {
    --background-color: #7f9183; 
    --div-background-color: #586f6b;
    --div-text-color: #b8b8aa; 
    --div-border-color:  #010400;
    --last-color: #e55934;
}

.navbar {
    background-color: var(--last-color);
}

#pokeball {
    width: 100px;
    float: left;
}

.pokeball-att {
    font-size:7px;
    float: left;
    padding: 3px;
}

body {
    background-color: var(--background-color);
}

#loading-message {
    display: none;
    color: var(--last-color);
    text-shadow: 0 0 5px #000;
    text-align: center;
}

.loading {
    display: block !important;
}

main {
    margin-top: 100px;
}

.list-item {
    background-color: var(--div-background-color);
    color: var(--div-text-color);
    font-weight: bold;
    border-color: var(--div-border-color);
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
    padding: 7px;
    text-align: center;
    min-width: 155px; 
    box-shadow: 7px 7px 3px rgb(112, 46, 29);
    margin: 20px;
} 

.list-item:hover {
    background-color: var(--div-text-color);
    color: var(--div-background-color);
    box-shadow: 7px 7px 3px var(--last-color);
}

/* .col-lg-3, 
.col-md-6,
.col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
} */

.pokemon-image {
    width: 80%;
    padding: none;
}
.card-body {
    padding-top: none;
}

.card-head {
    padding-bottom: 1em;
}

.card-btn,
#nav-button {
    background-color: var(--div-background-color);
    color: var(--div-text-color);
    border-color: var(--div-border-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

.card-btn:hover,
.close-button:hover,
.search-list-item:hover {
    background-color: var(--div-text-color);
    color: var(--last-color);
    font-weight: bold;
    border-color: var(--last-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

#nav-button:hover,
#nav-hamburger:hover {
    background-color: var(--background-color);
    color: var(--div-border-color);
    font-weight: bold;
    border-color: var(--div-text-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

#modal-container {
    width: 100%;
    height: 100%;
    background: rgba(245, 109, 56, 0.6);
    overflow: auto;
    padding-top: 8em;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    background-color: var(--background-color);
    color: var(--last-color);
}

.modal-body {
    background-color: var(--div-text-color);
    color: var(--div-border-color);
}

.modal-img {
    width: 50%;
    padding: 20px;
}

.modal-footer {
    background-color: var(--background-color);
    color: var(--last-color);
}

.btn-secondary,
.navbar-toggler {
    background-color: var(--last-color);
}

h1 {
    font-size: 60px;
    text-shadow: 0 0 5px #000;
    margin: 0px;
    float:right
}

.form-inline {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--div-text-color);
    width: auto;
    border: 2px solid var(--div-border-color);
}

.dropdown-show {
    display: block;
}

#dropdown-list {
    max-height: 150px;
    overflow: auto;
    padding: 15px;
    background-color: var(--background-color);
}
.search-list-item{
    background-color: var(--div-background-color);
    color: var(--div-text-color);
    border-radius: 4px;
    border: 2px solid var(--div-border-color);
    margin: 3px;
}

.error-list-item {
    background-color: var(--last-color);
    padding: 5px;
    color: var(--div-border-color);
}

.close-button {
    background-color: var(--div-background-color);
    color: var(--div-text-color);
    margin-bottom: 20px;
    width: 100%;
}

.close-button:hover {
    background-color: var(--div-text-color);
    color: var(--last-color);
    font-weight: bold;
    border-color: var(--last-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

 #nav-search:focus {
    border-color: var(--div-border-color);
    border-width: 2px;
} 

/*/////////////Media Query//////////////////// */

@media (max-width: 500px) {  
    h1 {
        font-size:2rem;
    } 
  }
   