:root {
    --background-color: #7f9183; 
    --div-background-color: #586f6b;
    --div-text-color: #b8b8aa; 
    --div-border-color:  #010400;
    --last-color: #e55934;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 100px;
    background-color: var(--background-color);
    margin: auto;
}

div {
    background-color: var(--div-background-color);
    color: var(--div-text-color);
    border-color: var(--div-border-color);
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    box-shadow: 10px 7px 5px var(--last-color);
} 

#pokeball {
    width: 100px;
    float: left;
}

#pokeball-att {
    font-size:7px;
    float: left;
}

#header-div {
    background-color: var(--background-color);
    color: var(--last-color);
    border-style: none;
    text-align: center;
    box-shadow: none;
}

h1 {
    font-size: 60px;
    text-shadow: 0 0 5px #000;
    margin: 0px;
}