:root {
    --background-color: #7f9183; 
    --div-background-color: #586f6b;
    --div-text-color: #b8b8aa; 
    --div-border-color:  #010400;
    --last-color: #e55934;
}

body {
    background-color: var(--background-color);
}

header {
    display: inline-block;
    text-align: center;
    margin: auto;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline-start: 0px;
    text-align: center;
    padding: 20px;
}

.listItem {
    background-color: var(--div-background-color);
    color: var(--div-text-color);
    border-color: var(--div-border-color);
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    box-shadow: 10px 7px 5px var(--last-color);
    margin: 20px;
} 

#pokeball {
    width: 100px;
    float: left;
}

#pokeball-att {
    font-size:7px;
    float: left;
}

#header-div {
    background-color: var(--background-color);
    color: var(--last-color);
    text-align: center;
}

h1 {
    font-size: 60px;
    text-shadow: 0 0 5px #000;
    margin: 0px;
    float:right
}

#loading-message {
    display: none;
    color: var(--last-color);
    text-shadow: 0 0 5px #000;
    text-align: center;
}

.loading {
    display: block;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 999; /* ensure it will show above other content */
    overflow: auto; /* allows for scrolling if screen not high enough */
    /* following properties center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: var(--last-color);
    padding: 15px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    text-align: left;
}

.modal-close {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: var(--div-text-color);
    text-decoration: underline;
}

.pokemon-image {
    width: 50%;
    padding: 20px;
}










/* ////////////RESPONSIVE DESIGN STYLING/////////////
Do NOT OVERWRITE!!
*/

@media all and (max-width: 725px) {
    ul {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 725px) and (max-width: 1080px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}